$('#flash').html('<%= j render "layouts/flash_messages", flash: flash %> ');
$('#request_history_body').html('<%= j render @requests_histories %>');
$('#request_history_pagy').html('<%== pagy_bootstrap_nav(@pagy) %>');
$('#data_request_history').html('<%= hidden_field_tag "data_request_history", @requests_histories.to_json %>')
$('#request_histories_count').html('<h4 id="request_histories_count"><%= @requests_histories.length %></h4>')
$("#total_statistic").html('<h4 id="total_statistic"><%= t ".total" %> : <%= @sum[0].total %></h4>')
