<div class="col-md-12">
  <div class="list_tours_request">
    <%= form_tag admin_requests_histories_path, method: :get, remote: true do %>
      <div class="card">
        <div class="card-header">
          <h6><span class="fa fa-calendar mr-3"></span>Arriving Date</h6>
        </div>
        <div class="card-body">
          <div class="row px-4">
            <div class="col-6 col-lg-3 text-center px-0 arrival specific active">
              <div class="block py-1">Specific</div>
            </div>
            <div class="col-6 col-lg-3 text-center px-0 arrival after">
              <div class="block py-1">After</div>
            </div>
            <div class="col-6 col-lg-3 text-center px-0 arrival before">
              <div class="block py-1">Before</div>
            </div>
            <div class="col-6 col-lg-3 text-center px-0 arrival between">
              <div class="block py-1">Between</div>
            </div>
            <%= hidden_field_tag :choices, "specific" %>
          </div>
          <div class="row px-4 mt-3">
            <div id="statistic_start_date" class="col-md-5 pl-0 pr-0 pr-md-2 mb-2 none">
              <%= date_field_tag :start_date, nil, class: "form-control m-3" %>
            </div>
            <div  class="col-md-2 pl-0 pr-0 pr-md-2 mb-2">
            </div>
            <div  id="statistic_end_date" class="col-md-5 pl-0 pl-md-2 pr-0 none">
              <%= date_field_tag :end_date, nil, class: "form-control m-3" %>
            </div>
            <div  id="statistic_specific_date" class="col-md-5 pl-0 pl-md-2 pr-0">
              <%= date_field_tag :specific_date, nil, class: "form-control m-3" %>
            </div>
          </div>
          <%= button_tag "Filter"  %>
        </div>
      </div>
    <% end %>
    <h4 id="request_histories_count"><%= @requests_histories.length %></h4>
    <table class="table table-bordred table-striped">
      <thead>
        <th><input type="checkbox" id="checkall" /></th>
        <th>Tour's name</th>
        <th>Email</th>
        <th>Price</th>
        <th>Quantity</th>
        <th>count</th>
        <th>Total price</th>
      </thead>
      <tbody id="request_history_body">
        <%= render @requests_histories %>
      </tbody>
    </table>
    <div class="d-flex justify-content-end">
      <h4 id="total_statistic"><%= t ".total" %> : <%= @sum[0].total %></h4>
    </div>
    <%= form_tag(admin_axlsx_index_path, method: :get) do %>
      <%= hidden_field_tag "data_request_history", @requests_histories.to_json %>
      <%= submit_tag "Excel_By_Gem_Axlsx" %>
    <% end %>
    <div id="request_history_pagy">
      <%== pagy_bootstrap_nav @pagy %>
    </div>
  </div>
</div>
