<tr>
  <td><input type="checkbox" class="checkthis" /></td>
  <td><%= request_history.tour_name %></td>
  <td><%= request_history.email %></td>
  <td><%= request_history.price %></td>
  <td><%= request_history.quantity %></td>
  <td><%= request_history.count %></td>
  <td><%= request_history.total_price %></td>
  <td>
  </td>
</tr>
