<div class="form_tour">
  <%= form_for [:admin, @tour], remote: true do |f| %>
    <%= render "layouts/error_messages", object: f.object %>
    <div class="col-12">
      <div class="content">
        <div class="row">
          <div class="col-md-4">
            <div class="card card-user">
              <div class="image">
              </div>
              <div class="card-body">
                <div class="author">
                  <div class="row form-group">
                    <div class="col-md-12">
                      <%= f.label t(".image") %>
                      <%= f.file_field :image, accept: "image/jpeg,image/gif,image/png" %>
                      <%= image_tag @tour.display_image, class: "hotel-img tour__preview"  if @tour.image.attached? %>
                      <img class="tour__preview" />
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-8">
            <div class="card card-user">
              <div class="card-header">
                <h5 class="card-title"><%= yield(:button_text) %></h5>
              </div>
              <div class="card-body">
                <form>
                  <div class="row">
                    <div class="col-md-12">
                      <div class="form-group">
                        <label><%= t ".name" %></label>
                        <%= f.text_field :name, class: "form-control", placeholder:  t(".name") %>
                      </div>
                    </div>
                    <div class="col-md-12">
                      <div class="form-group">
                        <label><%= t ".price" %></label>
                        <%= f.text_field :price, class: "form-control", placeholder: t(".price") %>
                      </div>
                    </div>
                    <div class="col-md-12">
                      <div class="form-group">
                        <label for="exampleInputEmail1"><%= t ".category" %></label>
                        <%= f.select :category_id, load_category,  {}, {class: "form-control"} %>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-6 pr-1">
                      <div class="form-group">
                        <label><%= t ".start_date" %></label>
                        <%= f.date_field :start_date, class: "form-control", placeholder: t(".start_date") %>
                      </div>
                    </div>
                    <div class="col-md-6 pl-1">
                      <div class="form-group">
                        <label><%= t ".end_date" %></label>
                        <%= f.date_field :end_date, class: "form-control", placeholder: t(".end_date") %>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <% if @tour.present? %>
                      <div class="col-md-12">
                        <div class="form-group">
                          <%= f.label t(".avg_rating") %>
                          <div>
                            <%= sanitize render_star(@tour.avg_rating), attributes: %w(class data-icon) %>
                          </div>
                        </div>
                      </div>
                    <% end %>
                  </div>
                  <div class="row">
                    <div class="col-md-12">
                      <div class="form-group">
                        <label><%= t ".description" %></label>
                        <%= f.text_field :description, class: "form-control", placeholder: t(".description") %>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="update ml-auto mr-auto">
                      <%= f.submit yield(:button_text), class: "btn btn-primary btn-round" %>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>
