<div class="row">
  <%= form_tag admin_tours_filter_path ,method: :get, remote: true do %>
    <div class="col-md-6">
      <div class="form-group search_name">
        <div class="flex-container">
          <%= text_field_tag :name_like, nil, class: "form-control", placeholder: "Your tour's name" %>
          <%= button_tag(type: "submit") do %>
            <span class="iconify" data-icon="bi:search-heart"></span>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
  <%= form_tag admin_tours_filter_path, method: :get, remote: true do %>
    <div class="col-md-6">
      <div class="form-group search_name">
        <div class="flex-container">
          <%= select_tag(:order_tours_admin, options_for_select([["Sắp xếp theo tên tăng dần",1],["Sắp xếp theo tên giảm dần",2],["Sắp xếp giá tăng dần",3],["Sắp xếp giá giảm dần",4]]), class:"form-control") %>
          <%= button_tag(type: "submit") do %>
            <span class="iconify" data-icon="bxs:sort-alt"></span>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
</div>
