<div class="row">
  <%= form_tag admin_tours_filter_path ,method: :get, remote: true do %>
    <div class="col-md-6">
      <div class="form-group search_name">
        <div class="flex-container">
          <%= text_field_tag :name_like, nil, class: "form-control", placeholder: "Your tour's name" %>
          <%= button_tag(type: "submit") do %>
            <span class="iconify" data-icon="bi:search-heart"></span>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
  <%= form_tag admin_tours_filter_path, method: :get, remote: true do %>
    <div class="col-md-6">
      <div class="form-group search_name">
        <div class="flex-container">
          <%= select_tag(:order_tours_admin, options_for_select([[Settings.admin.tour.name.asc,1],[Settings.admin.tour.name.desc,2],[Settings.admin.tour.price.asc,3],[Settings.admin.tour.price.desc,4]]), class:"form-control") %>
          <%= button_tag(type: "submit") do %>
            <span class="iconify" data-icon="bxs:sort-alt"></span>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
</div>
