<div class="sidebar-wrap">
  <div class="side search-wrap animate-box">
    <h3 class="sidebar-heading">Find your hotel</h3>
    <%= form_for :tours_filter, url: admin_tours_filter_url , method: :get, class: "colorlib-form", remote: true do |f| %>
      <div class="row">
        <div class="col-md-12">
          <div class="form-group">
            <p for="date">Check-in:</p>
            <div class="form-field">
              <i class="icon icon-calendar2"></i>
              <%= f.date_field :start_date, class: "form-control"%>
            </div>
          </div>
        </div>
        <div class="col-md-12">
          <div class="form-group">
            <p for="date">Check-out:</p>
            <div class="form-field">
              <i class="icon icon-calendar2"></i>
              <%= f.date_field :end_date, class: "form-control" %>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <p for="guests">Price from</p>
            <div class="form-field">
              <i class="icon icon-arrow-down3"></i>
              <%= f.text_field :start_price, class: "form-control" %>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <p for="guests">Price to</p>
            <div class="form-field">
              <i class="icon icon-arrow-down3"></i>
              <%= f.text_field :start_price, class: "form-control" %>
            </div>
          </div>
        </div>
        <div class="col-md-12">
          <div class="form-group star">
            <% Settings.tour.rating_max.times do |n| %>
              <div class="form-star">
                <%= check_box_tag 'avg_ratings[]',n + 1, nil, :id => "admin_tour_star_#{n + 1}"  %>
                <i class="iconify icon-star-empty"
              data-icon="icomoon-free:star-empty" id="icon_tour_star_<%= n + 1 %>"></i>
              </div>
            <% end %>
          </div>
        </div>
        <div class="col-md-12">
          <%= f.submit "Filter", class: "btn btn-lg btn-success" %>
        </div>
      <% end %>
    </div>
  </div>
