<div class="col-md-12">

<%= render "search_form" %>
<div class="list_tours">
        <table id="mytable" class="table table-bordred table-striped">
          <thead>
            <th><input type="checkbox" id="checkall" /></th>
            <th><%= t ".name" %></th>
            <th><%= t ".price" %></th>
            <th><%= t ".ratings" %></th>
            <th><%= t ".start_date" %></th>
            <th><%= t ".end_date" %></th>
            <th><%= t ".category" %></th>
            <th><%= t ".stock" %></th>
            <th><%= t ".action" %></th>
          </thead>
          <tbody id="list_tours">
            <%= render @tours %>
          </tbody>
        </table>
  <div id="list_tours_pagy">
    <%== pagy_bootstrap_nav @pagy %>
  </div>
</div>
</div>
