<tr>
  <td><input type="checkbox" class="checkthis" /></td>
  <td><%= tour_request.tour_name %></td>
  <td><%=  tour_request.user_email %></td>
  <td><%= tour_request.tour_price %></td>
  <td><%=  tour_request.quantity %></td>
  <td><%= tour_request.total_price%></td>
  <td>
    <%= render "badge_table", tour_request: tour_request %>
  </td>
  <td>
    <div class="d-flex">
      <%= link_to admin_tour_request_path(tour_request.id) do %>
        <span class="iconify nc-icon text-primary m-2"  data-icon="bx:show"></span>
      <% end %>
      <%= render "tour_request_btn", tour_request: tour_request %>
    </div>
  </td>
</tr>
