<div class="col-md-12">
  <div class="show_tour_request">
    <div class="row">
      <div class="col-md-5">
        <div class="hotel-entry">
          <%= render "badge_request", tour_request: @tour_request %>
          <%= link_to admin_tour_path(@tour_request.tour.id) do %>
            <%= image_tag @tour_request.tour.display_image, class: "hotel-img"  if @tour_request.tour_image.attached? %>
            <p class="price"><span><%= number_to_currency(@tour_request.tour_price) %></span><small> <%= t ".night" %></small></p>
          <% end %>
          <div class="desc">
            <p class="star">
              <span><i class="icon-star-full"></i><i class="icon-star-full"></i><i class="icon-star-full"></i><i class="icon-star-full"></i><i class="icon-star-full"></i></span>
              <%= @tour_request.tour.reviews.count %> <%= t ".reviews" %>
            </p>
            <h3><%= @tour_request.tour_name %></h3>
            <span class="place"><%= @tour_request.tour.category_name %></span>
            <p class="description">
              <%= @tour_request.tour_description %>
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-7">
        <div class="row">
          <div class="col-md-10 col-md-offset-1 animate-box">
            <form action="#" class="form__info">
              <div class="row form-group">
                <div class="col-md-6 padding-bottom">
                  <label for="fname"><%= t ".userName" %></label>
                  <%= text_field :name, "", class: "form-control", value: @tour_request.user_name, disabled: true %>
                </div>
                <div class="col-md-6">
                  <label for="lname"><%= t ".userEmail" %></label>
                  <%= text_field :email, "", class: "form-control", value: @tour_request.user_email, disabled: true %>
                </div>
              </div>
              <div class="row form-group">
                <div class="col-md-6">
                  <label for="subject"><%= t ".startDate" %></label>
                  <%= date_field :email, "", class: "form-control", value: @tour_request.tour_start_date.strftime("%F"), disabled: true %>
                </div>
                <div class="col-md-6">
                  <label for="subject"><%= t ".endDate" %></label>
                  <%= date_field :email, "", class: "form-control", value: @tour_request.tour_end_date.strftime("%F"), disabled: true %>
                </div>
              </div>
            </form>
           <%= render "tour_request_btn", tour_request: @tour_request %>
           <% if @tour_request.pending? %>
              <div id="tour_request_id">
                <%= form_tag admin_tour_request_path(@tour_request.id, sub: "reject"),method: :patch, remote: true  do %>
                <div class="form-group purple-border">
                  <h4 for="exampleFormControlTextarea4"><%= t ".reason_reject" %></h4>
                  <%= text_area_tag "content", nil, class: "form-control", rows: 8 %>
                  <%= button_tag t(".btn__reject"), class: "btn btn-sm btn-danger m-3" %>
                </div>
              <% end %>
              </div>
           <% end %>
          <div id = "reason_reject_title"></div>
           <% if @tour_request.rejected? %>
              <h4><%= t ".reason_reject" %> : <%= @tour_request.reason_reject %></h4>
           <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
