$('#flash').html('<%= j render "layouts/flash_messages", flash: flash %> ');
$('#badge_request_<%= @tour_request.id %>').html('<%= j render "badge_request", tour_request: @tour_request %>');
$('.badge_request_tbl_<%= @tour_request.id %>').html('<%= j render "badge_table", tour_request: @tour_request %>');
$('#btn_tour_request').html('<%= j render "tour_request_btn", tour_request: @tour_request %>');
$('#approve_tour_req_btn_<%= @tour_request.id %>').hide()
<% if @tour_request.rejected? %>
  $('#reason_reject_title').html(
    '<h4 id="reason_reject_title"><%= t ".reason_reject" %> : <%= @tour_request.reason_reject %></h4>'
  )
  $('#tour_request_id').hide();
<% end %>
