<div class="row">
  <div class="col-sm-3">
    <img src="http://dummyimage.com/60x60/666/ffffff&text=No+Image" class="img-rounded">
    <div class="review-block-name"><a href="#"><%= review._name %></a></div>
    <div class="review-block-date"><br>
      <%= date_field class: "form-control", value: review.created_at.strftime("%F"), disabled: true %></div>
  </div>
  <div class="col-sm-7">
    <div class="review-block-rate">
      <% review.rating.times.each do |n| %>
        <button type="button" class="btn btn-warning btn-xs" aria-label="Left Align">
          <span class="iconify" data-icon="emojione:star"></span>
        </button>
      <% end %>
      <% (Settings.review.star - review.rating).times.each do |n| %>
        <button type="button" class="btn btn-default btn-grey btn-xs" aria-label="Left Align">
          <span class="iconify" data-icon="emojione:star"></span>
        </button>
      <% end %>
    </div>
    <div class="review-block-title"><%= review.tour.name %></div>
    <div class="review-block-description"><%= review.content %></div>
  </div>
  <div class="col-sm-2">
    <%= link_to admin_review_path(review), method: :delete, data: {confirm: t(".confirm")}, class: "text-danger" do %>
      <i class="far fa-trash-alt"></i>
    <% end %>
  </div>
</div>
