<div class="col-md-6 col-sm-6 animate-box">
  <div class="tour">
    <%= link_to tour_path(tour), class:"tour-img" do %>
      <%= image_tag tour.image %>
      <p class="price">
        <span><%= number_to_currency tour.price %></span>
        <small>/ <%= date_diff tour.start_date, tour.end_date %> <%= t(".day") %></small>
      </p>
    <% end %>
    <span class="desc">
      <p class="star"><span> <%= sanitize render_star(tour.avg_rating), attributes: %w(class data-icon) %> </span></p>
      <h2><%= link_to tour.name, tour_path(tour) %></h2>
      <span class="city"><%= tour.description %></span>
    </span>
  </div>
</div>
