<div class="colorlib-loader"></div>
<div id="page">
  <aside id="colorlib-hero">
    <div class="flexslider">
      <ul class="slides">
        <li class= "tour_background">
          <div class="overlay"></div>
          <div class="container-fluid">
            <div class="row">
              <div class="col-md-6 col-md-offset-3 col-sm-12 col-xs-12 slider-text">
                <div class="slider-text-inner text-center">
                  <h1><%= t ".find_Tours" %></h1>
                </div>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </aside>
  <div class="colorlib-wrap">
    <div class="container">
      <div class="row">
        <div class="col-md-9">
          <div class="row">
            <div class="wrap-division">
              <div id="container">
                <% if @tours.any? %>
                  <%= render @tours %>
                <% else %>
                  <h1><%= t ".no_tours" %></h1>
                <% end %>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12 text-center">
              <div id="pagy_container">
                <%== pagy_bootstrap_nav_js @pagy %>
              </div>
            </div>
          </div>
        </div>
        <!-- SIDEBAR-->
        <div class="col-md-3">
          <div class="sidebar-wrap">
            <div class="side search-wrap animate-box">
              <h3 class="sidebar-heading"><%= t ".find_your_tour" %></h3>
              <%= form_tag(tours_path, method: :get, class: "colorlib-form") do %>
                <div class="row">
                  <div class="col-md-12">
                    <div class="form-group">
                      <%= label_tag :name, t(".name") %>
                      <div class="form-field">
                        <%= text_field_tag :name, "", class: "form-control", placeholder: t(".search_tour") %>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-12">
                    <div class="form-group">
                      <%= label_tag :start_date, t(".start_date") %>
                      <div class="form-field">
                        <%= date_field_tag :start_date, "", class: "form-control" %>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-12">
                    <div class="form-group">
                      <%= label_tag :end_date, t(".end_date") %>
                      <div class="form-field">
                        <%= date_field_tag :end_date, "", class: "form-control" %>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-12">
                    <%= submit_tag t(".find_Tours"), class: "btn btn-primary btn-block" %>
                  </div>
                </div>
              <% end %>
            </div>
            <div class="side animate-box">
              <div class="row">
                <div class="col-md-12">
                  <h3 class="sidebar-heading"><%= t ".price_Range" %></h3>
                  <form method="post" class="colorlib-form-2">
                    <div class="row">
                      <div class="col-md-6">
                        <div class="form-group">
                          <label for="guests"><%= t ".price_from" %></label>
                          <div class="form-field">
                            <i class="icon icon-arrow-down3"></i>
                            <select name="people" id="people" class="form-control">
                              <option value="#">1</option>
                            </select>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="form-group">
                          <label for="guests"><%= t ".price_to" %></label>
                          <div class="form-field">
                            <i class="icon icon-arrow-down3"></i>
                            <select name="people" id="people" class="form-control">
                              <option value="#">2000</option>
                            </select>
                          </div>
                        </div>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
            <div class="side animate-box">
              <div class="row">
                <div class="col-md-12">
                  <h3 class="sidebar-heading"><%= t ".review_Rating" %></h3>
                  <%= form_with url: tours_path, method: :get, id: "rating_filter_form", local: false do |f| %>
                    <% for i in 0..5 do %>
                      <div class="form-check">
                        <%= f.check_box "rating_filter_#{Settings.tour.rating_max-i}", value: 1, checked: true, class: "form-check-input" %>
                        <%= f.label "rating_filter_#{Settings.tour.rating_max-i}", "" do %>
                          <p class="rate"><span> <%= sanitize render_star(Settings.tour.rating_max-i), attributes: %w(class data-icon) %> </span></p>
                        <% end %>
                      </div>
                    <% end %>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
