<div class="col-md-12">
  <div class="list-user">
    <div class="card card-plain">
      <div class="card-header">
        <h4 class="card-title"> <%= t".list_users" %></h4>
        <p class="card-category"> <%= t".details" %></p>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table">
            <thead class=" text-primary">
              <th><%= t ".avatar" %></th>
              <th>
                <%= t ".name" %>
              </th>
              <th>
                <%= t ".email" %>
              </th>
              <th>
                <%= t ".activated" %>
              </th>
              <th>
                <%= t ".role" %>
              </th>
              <th>
                <%= t ".action" %>
              </th>
            </thead>
            <tbody id="list_users">
              <%= render @users %>
            </tbody>
          </table>
          <div id="list_users_pagy">
            <%== pagy_bootstrap_nav @pagy %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
