<footer id="colorlib-footer" role="contentinfo">
  <div class="container">
    <div class="row row-pb-md">
      <div class="col-md-3 colorlib-widget">
        <h4><%= t ".tour_agency" %></h4>
        <p>
          <ul class="colorlib-social-icons">
            <li><a href="#"><i class="icon-twitter"></i></a></li>
            <li><a href="#"><i class="icon-facebook"></i></a></li>
            <li><a href="#"><i class="icon-linkedin"></i></a></li>
            <li><a href="#"><i class="icon-dribbble"></i></a></li>
          </ul>
        </p>
      </div>
      <div class="col-md-2 colorlib-widget">
        <h4><%= t ".book_now" %></h4>
      </div>
      <div class="col-md-2 colorlib-widget">
        <h4><%= t ".top_deals" %></h4>
      </div>
      <div class="col-md-2">
        <h4><%= t ".blog_post" %></h4>
      </div>
      <div class="col-md-3 col-md-push-1">
        <h4><%= t ".contact_information" %></h4>
      </div>
    </div>
  </div>
</div>
</footer>
</div>
<div class="gototop js-top">
  <a href="#" class="js-gotop"><span class="iconify" data-icon="akar-icons:arrow-up" data-width="35" data-height="45"></span></a>
</div>
